footer {
  width:100%;
}

h1 {
	font-family: 'Patua One', cursive;;
}

.card {
	margin: 20px;
}

.lead {
	font-family: 'Oswald', sans-serif;
}

body {
	font-family: 'Raleway', sans-serif;
}

#brand {
	font-weight: bolder;
	font-size: 1.5em;
}

#save-button {
	float: right;
}

p, #save-button {
	text-height: 0.7em;
}